@use 'variables' as *;

html {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: $white;
  color: $blue-950;
}

section {
  padding: 0 26px 112px 26px;

  @media (min-width: $breakpoint-tablet) {
    padding-inline: 32px;
  }

  &:first-of-type {
    padding-top: 56px;
  }
}
