@use 'variables' as *;

html {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: $white;
  color: $blue-950;

  background-image: url('../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-position-y: -150px;
  background-size: 150%;

  @media (min-width: $breakpoint-tablet) {
    background-size: 100%;
  }

  @media (min-width: $breakpoint-desktop) {
    background-size: auto;
    background-position-x: 85%;
    background-position-y: -150px;
  }
}

section {
  padding: 0 26px 112px 26px;

  @media (min-width: $breakpoint-tablet) {
    padding-inline: 32px;
  }

  @media (min-width: $breakpoint-desktop) {
    &:not(.testimonial, .call-to-action) {
      max-width: 1170px;
      margin-inline: auto;
      padding-bottom: 150px;
    }
  }

  &:first-of-type {
    padding-top: 56px;

    @media (min-width: $breakpoint-desktop) {
      padding-top: 120px;
    }
  }
}
