@use 'sass:map';

@use 'variables' as *;

// TEXT PRESETS
$text-presets: (
  1: (
    weight: 700,
    size: 56px,
    line-height: 115%,
    letter-spacing: -1px,
  ),
  2: (
    weight: 700,
    size: 40px,
    line-height: 110%,
    letter-spacing: -0.75px,
  ),
  3: (
    weight: 700,
    size: 32px,
    line-height: 140%,
    letter-spacing: 0px,
  ),
  4-bold:
    (
      weight: 700,
      size: 16px,
      line-height: 145%,
      letter-spacing: 0px,
    ),
  4-regular:
    (
      weight: 400,
      size: 16px,
      line-height: 162.5%,
      letter-spacing: 0px,
    ),
  5-bold:
    (
      weight: 700,
      size: 13px,
      line-height: 145%,
      letter-spacing: 0px,
    ),
  5-medium:
    (
      weight: 500,
      size: 13px,
      line-height: 145%,
      letter-spacing: 0px,
    ),
  5-regular:
    (
      weight: 400,
      size: 13px,
      line-height: 200%,
      letter-spacing: 0px,
    ),
  6: (
    weight: 400,
    size: 10px,
    line-height: 150%,
    letter-spacing: 0px,
    style: italic,
  ),
);

@mixin text-preset($key) {
  $preset: map.get($text-presets, $key);

  font-family: map.get($preset, family);
  font-weight: map.get($preset, weight);
  font-size: map.get($preset, size);
  line-height: map.get($preset, line-height);
  letter-spacing: map.get($preset, letter-spacing);

  @if map.has-key($preset, style) {
    font-style: map.get($preset, style);
  } @else {
    font-style: normal;
  }
}

h1 {
  @include text-preset(2);
}
h2 {
  @include text-preset(3);
}
p {
  @include text-preset(4-regular);
  opacity: 0.5;
}
p.bigger {
  @include text-preset(4-regular);
}
