// COLORS
// Primary
$orange-400: hsl(12, 88%, 59%);
$blue-950: hsl(228, 39%, 23%);

// Neutral
$gray-950: hsl(233, 12%, 13%);
$orange-50: hsl(13, 100%, 96%);
$gray-50: hsl(0, 0%, 98%);

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
