@use 'variables' as *;
@use 'fonts' as *;
@use 'reset';
@use 'typography';
@use 'layout';

@use 'components/button';

.hero {
  display: grid;
  gap: 24px;

  .text-container {
    display: grid;
    gap: 32px;
    text-align: center;
    justify-items: center;

    .text-wrapper {
      display: grid;
      gap: 24px;
    }
  }
}

.features {
  display: grid;
  gap: 40px;

  .features-content {
    display: grid;
    gap: 24px;
    text-align: center;
  }

  .features-list {
    display: grid;
    gap: 40px;
  }
}
