@use 'variables' as *;
@use 'fonts' as *;
@use 'reset';
@use 'typography' as *;
@use 'layout';

@use 'components/button';
@use 'components/footer';

.hero {
  display: grid;
  gap: 24px;

  .text-container {
    display: grid;
    gap: 32px;
    text-align: center;
    justify-items: center;

    .text-wrapper {
      display: grid;
      gap: 24px;
    }
  }
}

.features {
  display: grid;
  gap: 40px;

  padding-left: 16px;
  padding-right: 0;

  .features-content {
    display: grid;
    gap: 24px;
    text-align: center;

    padding-right: 26px;
  }

  .features-list {
    display: grid;
    gap: 40px;

    .feature-item {
      display: grid;
      gap: 8px;

      .feature-item-header {
        @include text-preset(4-bold);
        color: $blue-950;
        background-color: $orange-50;

        display: flex;
        align-items: center;
        gap: 16px;

        border-top-left-radius: 39px;
        border-bottom-left-radius: 39px;

        span {
          background-color: $orange-400;
          color: $white;
          border-radius: 39px;
          padding: 8px 24px;
        }
      }
    }
  }
}

.testimonial {
  display: grid;
  gap: 40px;
  padding-inline: 0;

  text-align: center;

  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .testimonial-card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding-bottom: 27px;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 26px 8px 0 8px;
        background-color: $gray-50;
      }

      img {
        margin-inline: auto;
        max-width: 72px;
      }

      p {
        @include text-preset(5-regular);
        max-width: 300px;
      }
    }

    .pagination-dots {
      display: flex;
      justify-content: center;
      gap: 8px;

      span {
        width: 7px;
        height: 7px;

        border: 1px solid $orange-400;
        border-radius: 3.5px;

        &.active {
          background-color: $orange-400;
        }
      }
    }
  }
}

.call-to-action {
  background-color: $orange-400;
  background-image: url('../images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position-y: center;
  color: $white;
  padding: 95px 40px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
