@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/be-vietnam-pro/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/be-vietnam-pro/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/be-vietnam-pro/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

p {
  text-wrap: pretty; /* Prevents orphans on lines */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.75px;
  font-style: normal;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0px;
  font-style: normal;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0px;
  font-style: normal;
  opacity: 0.5;
}

p.bigger {
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0px;
  font-style: normal;
}

span.bold {
  font-weight: 700;
  font-size: 13px;
  line-height: 145%;
  letter-spacing: 0px;
  font-style: normal;
}

html {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 39%, 23%);
}

section {
  padding: 0 26px 112px 26px;
}
section:first-of-type {
  padding-top: 56px;
}

body:has(#nav-toggle:checked) {
  overflow: hidden;
}

nav {
  position: relative;
  isolation: isolate;
  margin: 41px 24px 0 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav .nav-toggle {
  display: none;
}
nav .nav-toggle ~ label {
  height: 18px;
  width: 25px;
  background-image: url("../../assets/images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav .nav-toggle:checked ~ label {
  height: 20px;
  width: 20px;
  background-image: url("../../assets/images/icon-close.svg");
}
nav .nav-toggle:checked ~ ul {
  display: grid;
}
nav ul {
  display: none;
  position: absolute;
  top: 62px;
  padding: 40px 118px;
  gap: 24px;
  flex-basis: 100%;
  flex-shrink: 0;
  list-style: none;
  text-align: center;
  background: hsl(0, 0%, 100%);
  box-shadow: 0px 10px 20px rgba(80, 86, 98, 0.03);
  border-radius: 4px;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0px;
  font-style: normal;
}
nav ul:before {
  content: "";
  position: fixed;
  z-index: -1;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%);
}

a.button,
button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 30px;
  background-color: hsl(12, 88%, 59%);
  box-shadow: 0px 15px 15px -10px #ff9f8e;
  border-radius: 22px;
  font-weight: 700;
  font-size: 13px;
  line-height: 145%;
  letter-spacing: 0px;
  font-style: normal;
  color: hsl(0, 0%, 100%);
}
a.button.inverted,
button.inverted {
  background-color: hsl(0, 0%, 100%);
  color: hsl(12, 88%, 59%);
  box-shadow: 0px 15px 15px -10px #db5943;
}

footer {
  background-color: hsl(233, 12%, 13%);
  padding: 40px 24px;
  display: grid;
  gap: 48px;
}
footer form {
  display: flex;
  gap: 8px;
}
footer form input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  height: 44px;
  font-weight: 400;
  font-size: 13px;
  line-height: 200%;
  letter-spacing: 0px;
  font-style: normal;
  color: hsl(228, 39%, 23%);
  background: hsl(0, 0%, 100%);
  border-radius: 22px;
  border: none;
}
footer form input::-moz-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 200%;
  letter-spacing: 0px;
  font-style: normal;
  color: hsl(0, 0%, 55%);
}
footer form input::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 200%;
  letter-spacing: 0px;
  font-style: normal;
  color: hsl(0, 0%, 55%);
}
footer form button {
  box-shadow: none;
}
footer ul {
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0px;
  font-style: normal;
  color: hsl(0, 0%, 100%);
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-inline: 26px;
}
footer ul > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer ul > div li {
  height: -moz-fit-content;
  height: fit-content;
}
footer .social-media-links {
  display: grid;
  justify-items: center;
  gap: 56px;
  padding-inline: 20px;
}
footer .social-media-links .social-media-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .social-media-links .social-media-icons img {
  width: 32px;
}
footer .social-media-links .copyright {
  font-weight: 500;
  font-size: 13px;
  line-height: 145%;
  letter-spacing: 0px;
  font-style: normal;
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
}

.hero {
  display: grid;
  gap: 24px;
}
.hero .text-container {
  display: grid;
  gap: 32px;
  text-align: center;
  justify-items: center;
}
.hero .text-container .text-wrapper {
  display: grid;
  gap: 24px;
}

.features {
  display: grid;
  gap: 40px;
  padding-left: 16px;
  padding-right: 0;
}
.features .features-content {
  display: grid;
  gap: 24px;
  text-align: center;
  padding-right: 26px;
}
.features .features-list {
  display: grid;
  gap: 40px;
}
.features .features-list .feature-item {
  display: grid;
  gap: 8px;
}
.features .features-list .feature-item .feature-item-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0px;
  font-style: normal;
  color: hsl(228, 39%, 23%);
  background-color: hsl(13, 100%, 96%);
  display: flex;
  align-items: center;
  gap: 16px;
  border-top-left-radius: 39px;
  border-bottom-left-radius: 39px;
}
.features .features-list .feature-item .feature-item-header span {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 100%);
  border-radius: 39px;
  padding: 8px 24px;
}

.testimonial {
  display: grid;
  gap: 40px;
  padding-inline: 0;
  text-align: center;
}
.testimonial .testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.testimonial .testimonial-container .testimonial-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 27px;
}
.testimonial .testimonial-container .testimonial-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 26px 8px 0 8px;
  background-color: hsl(0, 0%, 98%);
}
.testimonial .testimonial-container .testimonial-card img {
  margin-inline: auto;
  max-width: 72px;
}
.testimonial .testimonial-container .testimonial-card p {
  font-weight: 400;
  font-size: 13px;
  line-height: 200%;
  letter-spacing: 0px;
  font-style: normal;
  max-width: 300px;
}
.testimonial .testimonial-container .pagination-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.testimonial .testimonial-container .pagination-dots span {
  width: 7px;
  height: 7px;
  border: 1px solid hsl(12, 88%, 59%);
  border-radius: 3.5px;
}
.testimonial .testimonial-container .pagination-dots span.active {
  background-color: hsl(12, 88%, 59%);
}

.call-to-action {
  background-color: hsl(12, 88%, 59%);
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  color: hsl(0, 0%, 100%);
  padding: 95px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}/*# sourceMappingURL=style.css.map */