@use '../variables' as *;
@use '../typography' as *;

footer {
  background-color: $gray-950;
  padding: 40px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 48px;

  > * {
    width: min(100%, 450px);
  }

  form {
    display: flex;
    gap: 8px;

    @media (min-width: $breakpoint-tablet) {
      gap: 24px;
    }

    input {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: 0px 24px;

      height: 44px;

      @include text-preset(5-regular);
      color: $blue-950;
      background: $white;
      border-radius: 22px;
      border: none;

      &::placeholder {
        @include text-preset(5-regular);
        color: $gray-400;
      }
    }

    button {
      box-shadow: none;
    }
  }

  ul {
    @include text-preset(4-regular);
    color: $white;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    justify-content: space-between;
    padding-inline: 26px;
    gap: 8px;

    @media (min-width: $breakpoint-tablet) {
      padding-inline: 0;
      grid-template-rows: repeat(2, auto);
    }

    li {
      height: fit-content;
    }
  }

  .social-media-links {
    display: grid;
    justify-items: center;
    gap: 56px;
    padding-inline: 20px;
    max-width: 290px;

    .social-media-icons {
      display: flex;
      width: 100%;
      justify-content: space-between;

      img {
        width: 32px;
      }
    }

    .copyright {
      @include text-preset(5-medium);
      color: $white;
      opacity: 0.5;
    }
  }
}
